@import url('https://fonts.googleapis.com/css2?family=Lora&display=swap');

:root{
	--white:  #FFF;
	--grey: #f2f2f2;
	--bs-grey: #6c757d;
	--more-grey: #727272;
	--light-blue: #00CCFF;
	--blue:#0D6EfD;
}

/*Front end CSS*/
body {
	font-family: 'Lora', serif;	
}